<div ng-controller="NewUserCtrl">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <strong>New Supplier</strong>
            </div>
            <div class="card-body">
                <form  novalidate>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input ng-model="name" type="text" class="form-control col-sm-4" id="name" placeholder="user's name">
                    </div>
                    <div class="form-group">
                        <label for="street">username</label>
                        <input ng-model="username" type="text" class="form-control col-sm-4" id="username" placeholder="username">
                    </div>
                    <div class="form-group">
                        <label for="street">email</label>
                        <input ng-model="email" type="text" class="form-control col-sm-4" id="email" placeholder="email">
                    </div>
                    <div class="form-group">
                      <label for="password">password</label>
                      <input ng-model="password" type="password" class="form-control col-sm-4" id="password" placeholder="password">
                    </div>
                    <div class="form-check checkbox">
                        <input class="form-check-input" ng-model="is_active"type="checkbox" value="" id="check1">
                        <label class="form-check-label" for="check1">
                            activate
                        </label>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-header">
                            <strong>Roles</strong>
                        </div>
                        <div class="card-body">

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="select3">Roles</label>
                                <div class="col-md-4">
                                    <select id="select3" name="select" class="form-control input-sm" size="1">
                                        <option value="0">Please select</option>
                                        <option value="1">Admin</option>
                                        <option value="2">Accountant</option>
                                        <option value="3">Auditor</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-success" ng-click="createUser()">Submit</button>
                <button class="btn btn-danger" ui-sref="app.users" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>
